<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet"  href="/assets/css/style.css">
  <title>Burger Logger</title>
</head>
<body>
  <img src="./assets/css/burger.jpg" style="height:200px;width:200px;" class="center"  > 
  {{{body}}}

<script src="/js/burgers.js"></script>
</body>
</html>