
  body {
    background-image: url("./images/burger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  h2 {
    font-family: 'Permanent Marker', cursive;  
  }

  button {
    font-family: 'Permanent Marker', cursive;
  }

  label {
    font-family: 'Permanent Marker', cursive;
  }
  .container {
    margin: auto;
    /* width: 50%; */
    border: 3px solid green;
    padding: 10px;
    width:600px;
    box-shadow: 3px 3px 3px 3px grey;
    margin: 300px 400px 400px 600px;
    background-color: white;

  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .text-center {
  text-align: center;
  }
  
  .center-form {
    align-items: center;
  }
  
  
  li {
      padding: 5px;
      margin: 5px;
      background: #faebd7;
    }
    
    .label {
      font-weight: bold;
    }
    
    .create-update-form {
      padding: 5px;
      margin: 5px;
      background: aqua;
    }
    
    .form-group {
      margin-bottom: 5px;
    }

    label {
        font-size: 20px;
        font-weight: bold;

    }